.container.clearfix
  #people-list.people-list
    thread-list
  //thread-list(
  //  [threads]="threads",
  //  [currentThread]="currentThread",
  //  (updateThread)="updateThread($event)")

  .chat
    current-thread
    message-form
    // end chat-message
  // end chat
