.container.clearfix
  #people-list.people-list
    thread-list
  //thread-list(
  //  [threads]="threads",
  //  [currentThread]="currentThread",
  //  (updateThread)="updateThread($event)")

  .chat
    current-thread

    // end chat-history
    .chat-message.clearfix
      textarea#message-to-send(name='message-to-send' placeholder='Type your message' rows='3')
      i.fa.fa-file-o
      i.fa.fa-file-image-o
      button Send
    // end chat-message
  // end chat
